.react-datepicker {
  font-size: 1.1rem !important;
}

.react-datepicker__current-month {
  font-size: 1.1rem !important;
}

.react-datepicker__header {
  padding-top: 4px !important;
}

.react-datepicker__navigation {
  top: 11px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.2rem !important;
}